<mat-toolbar color="primary">
    <span>JWT Login</span>
 
    <span class="custom-space"></span>
    
    <button mat-icon-button color="white" routerLink=''>
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="white" routerLink='signup'>
      <mat-icon>assignment_ind</mat-icon>
    </button>
    
    <button mat-raised-button routerLink='login'>Login</button>

</mat-toolbar>
