<div class="container text-center">
    <h1 style="margin-top: 220px;">Welcome to JWT Security</h1>
    <button mat-raised-button matTooltip="Angular In Front-End"
        aria-label="Button that displays a tooltip when focused or hovered over" style="margin-right: 20px;">
        Front-End
    </button>
    <button mat-raised-button matTooltip="Spring Boot In Back-End"
        aria-label="Button that displays a tooltip when focused or hovered over">
        Back-End
    </button>

</div>