<div class="container text-center">
    <h1 style="margin-top: 150px;">Login</h1>

    <h3>{{credentials|json}}</h3>

    <div class="container">
        <form (ngSubmit)="userDataSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input type="text" matInput placeholder="Ex. tajbirnuva" [(ngModel)]="credentials.username"
                    name="username" required>
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput [(ngModel)]="credentials.password" name="password" required>
            </mat-form-field><br><br>

            <button type="reset" mat-raised-button color="warn" style="margin-right: 50px;">Reset</button>
            <button type="submit" mat-raised-button color="primary">Login</button>
        </form>
    </div>


</div>