<div class="container text-center">
    <h1 style="margin-top: 100px;">Sign Up</h1>


    <div class="container">
        <form (ngSubmit)="userDataSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="Ex. Taj" [(ngModel)]="data.firstName" name="firstName" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Ex. Bir" [(ngModel)]="data.lastName" name="lastName" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input type="text" matInput placeholder="Ex. tajbirnuva" [(ngModel)]="data.username" name="username" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput [(ngModel)]="data.password" name="password" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. tajbirnuva@gmail.com" [(ngModel)]="data.email" name="email" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Mobile</mat-label>
                <input type="text" matInput placeholder="Ex. +88 01681650106" [(ngModel)]="data.mobile" name="mobile" required>
            </mat-form-field>
            <br>

            <button type="reset" mat-raised-button color="warn" style="margin-right: 50px;">Reset</button>
            <button type="submit" mat-raised-button color="primary">Sign Up</button>
        </form>
    </div>


</div>